image: node:20

stages:
  - install
  - test
  - build

default:
  before_script:
    - cd React/Monprojet

cache:
  key:
    files:
      - React/Monprojet/package-lock.json
  paths:
    - React/Monprojet/node_modules/

install_dependencies:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - React/Monprojet/node_modules/
    expire_in: 1 hour

test:
  stage: test
  dependencies:
    - install_dependencies
  script:
    - npm run test:coverage
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  artifacts:
    when: always
    paths:
      - React/Monprojet/coverage/

build:
  stage: build
  dependencies:
    - install_dependencies
  script:
    - npm run build
  artifacts:
    paths:
      - React/Monprojet/dist/
    expire_in: 1 week
  only:
    - main
